.intro__list {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style: none;
    padding: 0;
    margin: 0;
}