.place__paragraph {
font-family: 'Inter', ‘Arial’, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #FFFFFF;
margin-top: 0px;
margin-bottom: 24px;
}

@media only screen and (max-width: 780px) {
    .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    }
}

@media only screen and (max-width: 640px) {
    .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
    }
}