.footer__copyright {
align-self: flex-end;
font-family: 'Inter', ‘Arial’, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
}

@media only screen and (max-width: 680px) {
    .footer__copyright {
        align-self: auto;
    }
}