.lead__image {
    max-width: 100%;
    width: 100%;
    margin-top: 64px;
}

@media only screen and (max-width: 1080px) {
    .lead__image {
    margin-top: 56px;
    }
}

@media only screen and (max-width: 380px) {
    .lead__image {
    margin-top: 40px;
    }
}