.lead__caption {
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    Color:#FFFFFF;
    text-transform: uppercase;
    margin: 8px 0 0 0;
    max-width: 159px;
    letter-spacing: 0.15em;
}

@media only screen and (max-width: 780px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media only screen and (max-width: 380px) {
    .lead__caption {
        margin-left: 16px;
    }
}